.product {
    padding: var(--main-padding);
    background-color: var(--color-light);

    &__bureau {
        display: flex;
        justify-content: space-between;
    }

    &__bureau_advantages {
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

    &__bureau_card {
        display: flex;
        gap: 9px;
        flex-direction: column;
    }

    &__card_title {
        font-size: var(--font-size-h4);
        font-weight: 500;
    }

    // &__desc {
    //     display: flex;
    // }

    &__img {
        margin: 66px 0 24px 0;
    }


    &__divider {
        margin: 100px 0 100px 0;
    }

    &__services {
        display: flex;
        justify-content: space-between;
    }

    &__services_txt {
        font-size: var(--font-size-h4);
    }

    &__services_txt .highlight {
        font-size: var(--font-size-h4);;
    }
}

.card_title_container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product__services_circle_container {
    display: flex;
    // justify-content: center;
    // gap: 20px;
    margin: 261px 0 35px;
    flex-wrap: wrap;
  }
  
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

