.cta {
    background-color: var(--color-accent);
    color: var(--color-light);
    padding-top: 100px;
    padding-left: 100px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title_container {
        margin-bottom: 3rem;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__btns_container {
        margin-bottom: 3.5rem;
    }

    &__input {
        width: 273px;
    }

    &__whatsapp_title {
        margin-bottom: 1rem;
    }

    &__pyramid {
        position: relative;
        width: 804px; /* Ширина контейнера */
        height: 624px; /* Высота контейнера */
        overflow: hidden;
    }

    &__circle {
        position: absolute;
        width: 160px; /* Размер круга */
        height: 160px;
        border-radius: 50%; /* Делаем круглым */
        background-color: white; /* Цвет круга */
        border: 4px solid white; /* Обводка белого цвета */
    }

    &__top_circle {
        // top: 50px; /* Расположение сверху */
        left: 50%;
        background-color: transparent;
        transform: translateX(-50%); /* Центрирование по горизонтали */
    }

    &__circle:nth-child(2) {
        top: 140px;
        left: 245px;
    }

    &__circle:nth-child(3) {
        top: 139px;
        right: 238px;
    }

    &__circle:nth-child(4) {
        top: 279px;
        left: 165px;
    }

    &__circle:nth-child(5) {
        top: 279px;
        left: 326px;
    }

    &__circle:nth-child(6) {
        top: 279px;
        right: 157px;
    }

    &__circle:nth-child(7) {
        top: 418px;
        left: 84px;
    }

    &__circle:nth-child(8) {
        top: 418px;
        left: 245px;
    }

    &__circle:nth-child(9) {
        top: 418px;
        right: 238px;
    }

    &__circle:nth-child(10) {
        top: 418px;
        right: 77px;
    }

    &__circle:nth-child(11) {
        bottom: -93px;
        left: 4px;
    }

    &__circle:nth-child(12) {
        bottom: -93px;
        left: 165px;
    }

    &__circle:nth-child(13) {
        bottom: -93px;
        left: 326px;
    }

    &__circle:nth-child(14) {
        bottom: -93px;
        right: 157px;
    }

    &__circle:nth-child(15) {
        bottom: -93px;
        right: -3px;
    }
}